*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

node_modules
npm-debug.log.[0-9]*
npm-debug.log
book_img
uploads/*
!uploads/house.jpg
!uploads/label.jpg
!uploads/logo.jpg

