.rows {
  height: 35px;
  margin-bottom: 10px;
  background-color: #dedede;
  white-space: nowrap;
  & .line-wraper{
    height: 50%;
    position: relative;
    top: 25%;
    display: inline-block;
  }
  & .valve-number {
    vertical-align: top;
    width: 20px;
    height: 100%;
    display: inline-block;
    border: red solid 1px;
  }
  & .time-box {
    vertical-align: top;
    height: 100%;
    display: inline-block;
    & .time-former {
      height: 100%;
      display: inline-block;
      & .time {
        display: inline-block;
        height: 100%;
        background-color: green;
      }
      & .gap {
        height: 100%;
        display: inline-block;
        background-color: transparent;
      }
    }
  }
}
