.main-flex{
  // display: flex;
}
.picture-box{
  width: 30%;
  // flex-grow:1;
  height: 300px;
  border: 1px solid red;
}
.form-Manupalation{
  width: 70%;
  // flex-grow:3;
  overflow-x: auto;
  & form{
    min-width: 100%;
    display: inline-block;
  }
}
