.component {
  font-size: 1.5rem;
}

.content {
  margin: 5px;

  & ul {
    padding: 0;
    list-style-type: disc;
    list-style-position: inside;

    & span {
      margin-left: -1em;
    }
  }
}
