$timePresenterHeight: 475px;
.time-line_wraper{
  position: relative;
  height: 45px;
  & .time-line{
    height: 25px;
    border: thin solid red;
    & .time-show{
      display: flex;
      justify-content: space-between;
      height: 100%;
      & .time-former{
        position: relative;
        & .divider{
          width: 1px;
          height: 100%;
          background-color: green;
        }
        .time-count{
          position: absolute;
        }
      }
      & .time-former:last-child{
        & .time-count{
          right: 100%;
        }
      }
    }
  }
  & .time-presenter {
    position: absolute;
    height: $timePresenterHeight;
    top: -$timePresenterHeight + 25px;
    left: -12px;
    // transition: left 10s linear;
  & .line {
      position: relative;
      left: 46%;
      width: 2px;
      height: 460px;
      background-color: red;
    }
  & .arrow-up {
      border-bottom: 15px solid red;
      border-left: 11.5px solid transparent;
      border-right: 11.5px solid transparent;
      // height: 20px;
      width: 25px;
    }
  }
}


